
html {
	font-size: 12px;
}

body {
	background-color: rgb(22, 22, 22);
	color: rgb(234, 234, 234);
	text-align: left;
}

.content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.fancy-container {
	padding: 1.5rem;
	margin: 1rem auto 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	box-shadow: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.11);
	background-color: rgba(255, 255, 255, 0.1);
	margin-left: auto;
	margin-right: auto;
}

p + p {
    margin-top: 0.5rem;
}

.fancy-title {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.bigthing {
	margin-bottom: 5rem;
}

.center {
	text-align: center;
}

.logos a {
	font-size: 5rem;
	margin-left: 2rem;
	color: inherit;
	transition: all 0.2s ease-out;
}

.logos a:first-child {
	margin-left: 0;
}

.logos a:hover {
	color: #0FA0CE;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}

ul li {
	padding-left: 1em;
	display: table-row;
}

ul li:before {
	font-family: 'FontAwesome';
	padding-right: 1rem;
	display: table-cell;
}

.project-title {
	font-size: 2rem;
}

.project {
	border-left: 1rem solid;
	border-color: rgba(255, 255, 255, 0.15);
	padding-left: 1rem;
	margin-top: 1rem;
	transition: border-color .4s ease;
}

.project:hover {
	border-color: rgba(255, 255, 255, 0.3);
}

.tag {
	font-variant: small-caps;
	font-size: 1.3rem;
	color: white;
	border-radius: 2px;
	padding: 0 0.2rem 0.1rem;
	margin-left: 1rem;
	position: relative;
	top: -0.2rem;
}

.tag + .tag {
	margin-left: 0.5rem;
}

.tag-py {
	background-color: #316b9b; /* #3572a5 */
}

.tag-js {
	background-color: #f5de19; /* #f1e05a */
	color: black;
}

.tag-go {
	background-color: #29bdb1; /*#375eab;*/
}

.tag-cpp {
	background-color: #f34b7d;
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: rgb(234, 234, 234);
		color: black;
	}

	.logos a:hover {
		color: #0FA0CE;
	}

	.project {
		border-color: rgba(0, 0, 0, 0.1);
	}

	.project:hover {
		border-color: rgba(0, 0, 0, 0.2);
	}
}